* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #CCC;
    color: #555;
}

.form-container h1 {
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px;
    color: #acaf17;
}

.form-container form {
    padding: 20px;
    margin: 10px;
}

.outer-container {
    padding: 5px;

}

.outer-container label {
    display: block;
    font-size: 12px;
    margin: 10px 0;
}

.inner-container {
    padding: 5px;
    border-bottom: 1px solid #AAA;
}

.inner-container input {
    outline: 0;
    border: 0;
}
.eye-icon{
    cursor: pointer;
}

.outer-container p {
    width: fit-content;
    font-size: 11px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

form input[type="submit"] {
    display: block;
    width: 80%;
    margin: 10% auto;
    border: 0;
    outline: 0;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    border-radius: 10px;
        cursor: pointer;
    background-image: linear-gradient(45deg, red, blue);
    transition: 0.5s;
}

form input[type="submit"]:hover {
transform: scale(1.1);
}

.signup-tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.signup-tool p {
    width: 100%;
    text-align: center;
}

.facebook {
    color: rgb(21, 21, 98);
    font-size: 20px;
    margin: 5px;
}

.twitter,
.google {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 5px
}

.twitter {
    background-color: blue;
}

.google {
    background-color: red;
}

.signup-tool2{
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.signup-tool2 button{
    outline: 0;
    border: 0;
    background: transparent;
    color: #555;
    text-transform: uppercase;
    cursor: pointer;
}

.errors-message{
    color: red;
    text-align: center;
}

.incorrect{
    border: 1px solid red;
}


.userError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.passError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}